.article-container {
    max-width: 1100px;
    background-color: white;
    margin: 4rem auto;
    box-shadow: 2px 2px 5px lightgrey, -2px -2px 5px lightgrey;
    padding: 2rem 4rem;
}

.article-container h1 {
    text-align: center;
    line-height: 32px;
}

.small p {
    line-height: 1.7;
    margin-bottom: 1rem;
}

.article-container img {
    padding: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 780px) {
    .title {
        font-size: 2rem !important;
    }
}

@media only screen and (max-width: 780px) {
    .article-container {
        margin: 2rem 1rem;
        padding: 1rem;
    }
}