.hero {
    background-color: #000000;
}

.blogg-container {
    flex-wrap: wrap;
    margin: 0 auto 2rem auto;
    padding-top: 2rem;
    max-width: 1200px;
}

.blogg-content {
    justify-content: center;
}

.article-box {
    height: 500px;
    width: 350px !important;
    position: relative;
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.35);
    background-color: #ffffff;
    transition: transform 0.2s linear;
    margin: 1rem;
    padding: 0 !important;
    text-align: center;
}

.article-box:hover {
    transform: scale(1.02);
}

.blogg-banner {
    width: 100%;
    margin: 0;
}

.text-container {
    margin: 0;
    padding: 0 1rem;
}

.button-container {
    position: absolute;
    width: 100%;
    bottom: 2rem;
}

.button-container button {
    color: #FFFFFF;
    background-image: linear-gradient(#f07929, #EB6409);
    padding: 0.7rem 4rem;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0px 3px 3px rgba(3, 3, 3, 0.384);
}

.button-container button:hover {
    cursor: pointer;
    background-image: linear-gradient(#ec7526, #e05f08);
}


/* Animation for fading in images is banner */

.fade {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: .1
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 780px) {
    .title {
        font-size: 3rem !important;
    }
}