footer {
    background-color: #fafafa;
    width: 100vw;
    z-index: 2;
    position: relative;
}

footer * {
    color: black;
    list-style: none;
}

#footer-container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

#email {
    margin-bottom: 1rem;
}

#email span {
    font-size: 1.5rem;
    vertical-align: bottom;
    margin-right: 10px;
    color: #EB6408;
}

#facebook img {
    width: 1.5rem;
    margin-right: 0.65rem;
    vertical-align: bottom;
}

.menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.menu li {
    float: left;
    margin-right: 10px;
    font-size: 0.9rem;
    margin: 0;
    text-transform: none;
}

.menu li::after {
    content: "|";
    margin: 0 10px;
}

.menu li:last-of-type::after {
    content: "";
}

.menu a {
    text-decoration: none;
    text-transform: none;
    font-weight: 400;
}

footer a:hover {
    color: #575757;
}

#footer-info {
    font-size: 0.9rem;
}

@media only screen and (max-width: 950px) {
    .menu li {
        display: block;
        width: 100%;
    }
    .menu li::after {
        display: none;
    }
    .footer-content {
        margin-top: 0;
    }
}