header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 1rem;
  position: absolute;
  width: 100%;
}

header [class*="header-"] {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-left{
  justify-content: flex-start;
}

.header-left a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right{
  justify-content: flex-end;
}

header img{
  height: 6rem;
}

.navigation{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  margin-left: 1rem;
}

.navigation a {
  color: #303030;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation a:visited {
  color: #303030;
}

.navigation a:hover{
  color: #474747;
}

.main-menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu a {
  text-transform: uppercase;
  text-decoration: none;
}